node_modules
elm-stuff
VerifyExamples
zombie
package-lock.json
elm.js
main.js
elmMain.js
dist

Testing.hx
Elm.hx
build
target
*.wasm

# Editors
.idea/
ElmjutsuDumMyM0DuL3.elm
.vscode
.editorconfig

.fake
